@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("./bootstrap.css");

:root {
  --footer-blue: #3D48B6;
}

.navbar-nav>* {
  margin-right: 30px;
}

.navbar-nav>*:last-child {
  margin-right: 0;
}

#footerContainer {
  background-color: var(--footer-blue);
  color: var(--bs-white);
}

.main-detail-content{
  display: flex;
}

 @media only screen and (max-width: 600px) {
  .main-detail-content{
    flex-direction: column-reverse;
  }
  
}

.center{
  margin-right: 50px;;
}

.fossiles-img{
  width: 100%;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
  display: block;
  height: 22px;
  background-color: #659cef;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
}

.datas{
  display: flex;
  justify-content: space-between;
}

.social-media .bi-facebook{
  color: #3B5998;
}

.social-media .bi-twitter{
  color: #55ACEE;
}

.social-media .bi-linkedin{
  color: #007bb5;
}

.social-media .icon{
  font-size: 2.5rem;
  margin-right: 10px;
}

.font-white{
  color: #FDF5EC;
}

.card{
  border-radius: 12px;
}

.card-img-top{
  border-top-left-radius: calc(12px - 1px);
  border-top-right-radius: calc(12px - 1px);
}

.gray-overlay{
  opacity: 50%;
}

